@model IEnumerable<InventoryERP.Data.Models.Supplier>

@{
    ViewData["Title"] = "Suppliers";
}

<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 1.5rem;">
    <h1 style="margin: 0;">Suppliers</h1>
    <a asp-action="Create" class="btn-primary"><i class="fa-solid fa-plus"></i> Create New Supplier</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactPerson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactPerson)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <div class="action-buttons">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn-secondary btn-sm"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn-info btn-sm"><i class="fa-solid fa-circle-info"></i> Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn-danger btn-sm"><i class="fa-solid fa-trash"></i> Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
